body {
    padding: 32px;
    text-align: center;
    font-family: math;
}

p, 
div {
    text-align: justify;
}

button {
    border: none;
    padding: 8px;
    border-radius: 7px;
    
}

.bg-1 {
    background-color: rgb(49, 188, 49);
}


.bg-2 {
    background-color: rgb(231, 52, 52);
}

.bg-3 {
    background-color: rgb(72, 109, 211);
}


.section-content{
    margin: 32px;
}

.section-item{
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.formula {
    font-style: italic;
    font-size: xx-large;
}